<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fake Product Identification Using Blockchain</title>
<meta name="keywords" content="Specific Template, HTML CSS, free website template" />
<meta name="description" content="Specific Template is a free website template provided by TemplateMo.com" />
<link rel="stylesheet" href="{{ url_for('static', filename='templatemo_style.css') }}">
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;
	var y=document.forms["f1"]["t2"].value;
	var a1=document.forms["f1"]["t3"].value;
	var a2=document.forms["f1"]["t4"].value;
	var a3=document.forms["f1"]["t5"].value;
	var a4=document.forms["f1"]["t6"].value;
	if(x == null || x==""){
		window.alert("Product ID must be enter");
		document.f1.t1.focus();
		return false;
	}
	if(y == null || y==""){
		window.alert("Product name must be enter");
		document.f1.t2.focus();
		return false;
	}
	if(a1 == null || a1=="")
	{
	alert("Please enter Product Price");
	document.f1.t3.focus();
	return false;
	}
	
	if(a2 == null || a2=="")
	{
	alert("Please enter manufacturing details");
	document.f1.t4.focus();
	return false;
	}
	
	if(a3 == null || a3=="")
	{
	alert("Please enter company details");
	document.f1.t5.focus();
	return false;
	}
	if(a4 == null || a4=="")
	{
	alert("Please upload Barcode file");
	document.f1.t6.focus();
	return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

    	<div id="title">
		Fake Product Identification Using Blockchain</center>
            
        </div>
        

    </div> <!-- end of header -->
    
</div> <!-- end of header wrapper -->

<div id="templatemo_menu_wrapper">

    <div id="templatemo_menu">
          <ul>
      <li class="nlink"><a href="AddProduct">Add&nbsp;Product&nbsp;Details</a></li>
	  <li class="nlink"><a href="ViewProduct">View&nbsp;Product&nbsp;Details</a></li>
	   <li class="nlink"><a href="ViewUsers">View&nbsp;Users</a></li>
      <li class="nlink"><a href="index">Logout</a></li>
      
   </ul>
  </div>
  <div class="entry">
   <br/><br/><br/>
<br/>
			<div class="msg"><font size="3" color="red"><center>{{ msg | safe }}</center></font></div>
	
			<br/>
	 <br>
	  <center><font size="4" color="black"><h3>Add New Product Details Screen</font></center>
<form name ="f1" method="post" action="/AddProductAction" enctype="multipart/form-data" >
	<br><br>

	<TABLE align=center width="30%" class="notepad">
		<TR><TH align="left"><font size="2" color="black">Product&nbsp;ID</font>
			{%if pid%}
		<TD>&nbsp;<Input type=text name="t1" value='{{pid}}' ></TD>
				{%else%}
		<TD>&nbsp;<Input type=text name="t1" value='' >
			{%endif%}
		<div id='nameid'></div>
		</TD>
		</TR>
		
		<TR><TH align="left"><font size="2" color="black">Product&nbsp;Name</font>
			{%if pname%}
		<TD>&nbsp;<Input type='text' name="t2"  value='{{pname}}'></TD>
				{%else%}
			<TD>&nbsp;<Input type='text' name="t2"  value=''></TD>
				{%endif%}
			
		</TR>

		<TR><TH align="left"><font size="2" color="black">Product&nbsp;Price</font>
		<TD>&nbsp;<Input type='text' name="t3"  value='' size="15">
		</TR>

		<TR><TH align="left"><font size="2" color="black">Manufacturing&nbsp;Details</font>
		<TD>&nbsp;<Input type='text' name="t4"  value='' size="60">
		</TR>

	<TR><TH align="left"><font size="2" color="black">Company&nbsp;Details</font>
		<TD>&nbsp;<Input type='text' name="t5"  value='' size="45">
		</TR>

<TR><TH align="left"><font size="2" color="black">Upload&nbsp;Barcode</font>
		<TD>&nbsp;<Input type='file' name="t6">
		</TR>

		  <TR>
				 <TD></TD>
			<TD>	
		  <input type="submit" value="Submit">
		 
		  </TABLE>
		
</form>
</div>

</body>
</html>
